<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Vue</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/map.css' %}">

</head>
<body>
<div id="main-container">
<!-- Ajoutez ce bouton dans votre template HTML -->
    <form method="post" action="{% url 'ma_vue_random' %}">
        {% csrf_token %}
        <button class="btn2" type="submit">Choisir un restaurant au hasard</button>
    </form>
    <a href="{% url 'liste_restaurants' %}">
        <button class="btn1">Aller vers la liste des restaurants</button>
    </a>
    <!-- <h1>Bienvenue sur ma page !</h1>
    <p>Ceci est le contenu de ma vue.</p> -->

</div>


    <!-- Afficher la carte HTML -->
    {{ carte_html|safe }}
</body>
</html>
